body { 
    background-color: #95a5b3; 
    color: #34354a;
}

h1 { 
    font-size: 50px;
    padding-bottom: 15px;
}

h2 { 
    font-size: 30px;
}


.jumbotron { 
    margin-top: 40px;
}

.row { 
    padding: 20px;
    margin: 20px;
}

.guesses { 
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e8ecef;
}

.border-dark { 
    border-bottom: 2px solid  #34354a !important;
}




